<br>
<div class="container">
  
    <div *ngIf="tache">
            <form  [formGroup]="tacheForm" (ngSubmit)="saveTache()">
              <h2>Mise a jour  Tache</h2>

              <div class="form-group">
                    <label for="name"><th>Libelle</label>
                    
                      <input type="text" class="form-control" id="name" [(ngModel)]="tache.name" formControlName="name">
                
                  </div>

                  <div class="form-group">
                  <label for="dateTache"><th>Date Tache</label>
              
                    <input type="date" class="form-control" id="dateTache" [(ngModel)]="tache.dateTache" formControlName="dateTache">
                
                </div>

          

                  <div class="form-group ">
                    <label for="type"><th>Type:</label>
                
                      <select class=" custom-select "   id="isCompleted" [(ngModel)]="tache.isCompleted" formControlName="isCompleted">
                        <option [selected]=true>Choisir un etat</option>
                        <option value="En cours">En cours</option>
                        <option value=" Terminé"> Terminé</option>
                   </select>
                   </div>
                  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="user"><th>Utilisateurs</label>
                    </div>
                    <select  class="custom-select" multiple id="user" formControlName="user" [(ngModel)]="tache.user">
                        <option [ngValue]="user"
                        *ngFor="let user of users"
                        [selected]="user.id == tache.user" >{{user.prenom}} {{user.nom}}</option>
                    </select>
                  </div>
                  
                  <div class=pull-right>
                    <div class="btn-toolbar">
                      <button class="button" type="submit" class="btn btn-success">Ajouter </button>
                      <button type="button" class="btn btn-danger" (click)="goBack()"> Retourner</button>
                    </div>
                    </div>
            
              </form>
    </div>

    <div *ngIf="tache ==undefined">
        <form  [formGroup]="tacheForm" 
        (ngSubmit)= "addTache(name.value, dateTache.value,isCompleted.value)">
        <h2>Ajouter Tache</h2>


        <div class="form-group">
          <label for="dateTache"><th>Libelle</label>
              <input type="text" class="form-control" id="name" #name formControlName="name">
            
          </div>

          <div class="form-group">
            <label for="dateTache"><th>Date Tache</label>
           
              <input type="date" class="form-control" id="dateTache" #dateTache formControlName="dateTache">
            
          </div>


        
        <div class="form-group ">
          <label for="type"><th>Etat:</label>
      
            <select class=" custom-select "   id="isCompleted"  #isCompleted formControlName="isCompleted">
              <option [selected]=true>Choisir un etat</option>
              <option value="En cours">En cours</option>
              <option value=" Terminé" > Terminé</option>
         </select>
         </div>
          <div class="btn-toolbar">

          </div>
          
          <div class=pull-right>
            <div class="btn-toolbar">
              <button class="button" type="submit" class="btn btn-success">Ajouter </button>
              <button type="button" class="btn btn-danger" (click)="goBack()"> Retourner</button>
            </div>
            </div>
        </form> 
    </div>

    


       