.mat-elevation-z8 {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
  }
  
  .demo-table {
    width: 100%;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .mat-column-id {
    padding-right: 1px;
    text-align: center;
  }
  
  .mat-column-nom {
    padding-left: 16px;
    font-size: 16px;
  }
  
  .mat-column-groupe {
    padding-left: 16px;
    font-style: normal;
  }
  
  .mat-column-delete {
    width: 32px;
    text-align: center;
    padding-left: 16px;
    font-weight: bold;
  }
  .mat-column-update {
    width: 32px;
    text-align: center;
    padding-left: 16px;
    font-weight: bold;
  }
  .mat-paginator{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  a:link
  {
   text-decoration:none;
  }
  img {
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
 
}
.bg-img{

    width: 100%;
   background-color: #157694;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  }

  .col-md-6 {
    left: 25%;
     right: 25%;
     margin-top: 5%;
 }
 .label {
     color: #5356d6;
     text-align: center; 
 } 

 .card{
  border-color: #5356d6; 
 
}    

.text-center {
  color:#0000FF;
  font-family:  sans-serif;

}