<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-info">
      <a href="/login" class="navbar-brand">Organisation</a>

      <ul class="navbar-nav mr-auto" routerLinkActive="active"*ngIf="isLoggedIn">

        <li class="nav-item active" *ngIf="showAdminBoard">
         <a href="/dashboard" class="nav-link" id="dropdown01" *ngIf="showAdminBoard" routerLink="dashboard" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></a>
        </li>

        <li class="nav-item active" *ngIf="showUserBoard" >
          <a href="/dashboardadmin" class="nav-link" id="dropdown01" *ngIf="showUserBoard" routerLink="dashboardadmin" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></a>
         </li>
      
        <li class="nav-item dropdown"  *ngIf="isLoggedIn" >
          <a class="nav-link dropdown-toggle active" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  *ngIf="showAdminBoard">Gestion Espaces</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a href="/espaces" class="dropdown-item">Liste Espaces </a>
            <a href="/espace/detail"class="dropdown-item">Ajouter Espace</a>
          </div>
        </li>
  
        <li class="nav-item dropdown"  *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle active" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="showAdminBoard" >Gestion Utilisateurs</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a href="/users" class="dropdown-item">Liste Utilisateurs </a>
            <a href="/user/detail"class="dropdown-item">Ajouter Utilisateu</a>
          </div>
        </li>
      
        <li class="nav-item dropdown"  *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle active" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="showUserBoard">Gestion Taches</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a href="/taches" class="dropdown-item">Liste Taches </a>
            <a href="/tache/detail"class="dropdown-item">Ajouter Tache</a>
          </div>
        </li>
        <li class="nav-item dropdown"  *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle active" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="showUserBoard">Gestion Evenements</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a href="/evenements" class="dropdown-item">Liste Evenements </a>
            <a href="/evenement/detail"class="dropdown-item">Ajouter Evenement</a>
          </div>
        </li>
        
        <li class="nav-item dropdown"  *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle active" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="showUserBoard">Gestion Sondages</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a href="/sondages" class="dropdown-item">Liste Sondages </a>
            <a href="/sondage/detail"class="dropdown-item">Ajouter Sondage</a>
          </div>
        </li>
  
        <li class="nav-item dropdown" *ngIf="isLoggedIn" >
          <a class="nav-link dropdown-toggle active" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="showUserBoard">Gestion Propositions</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a href="/propositions" class="dropdown-item">Liste Propositions</a>
           
          </div>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn" >
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
   
       
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">

        <li class="nav-item">
          <li><img src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png" height="40px" width="40px" > &nbsp;<font color="white">{{user.username}}</font></li> 
          <!-- <a href="/profil" class="nav-link" routerLink="profil">{{ user.username }}</a> -->
        
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  