<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=2">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



  <table class="w3-table-all w3-card-6">
    <tr>
    <th></th>
      <th>Username</th>
      <th>Nom et prenom</th>
      
    </tr>
    <tr  *ngFor="let user of users">
        <td><img src="https://www.seekpng.com/png/detail/428-4287240_no-avatar-user-circle-icon-png.png" class="w3-bar-item w3-circle w3-hide-small" style="width:50px"></td>
      <td>{{user.username}}</td>
      <td>{{user.nom}}&nbsp;{{user.prenom}}</td>
   
    </tr>
   
  </table>



</html>